<div class="burger-wrap">
  <button id="toggle" class="nav-toggle" type="button" aria-hidden="false" onclick="toggle_menu()">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</div>
<nav>
  <ul>
    {{ $url := .RelPermalink }}
    {{ $u := urls.Parse $.Site.BaseURL }}
    {{ $page := . }}

    {{ range .Site.Params.header.links }}
      {{ $currenturl := .url }}
      {{ if not (eq (substr $currenturl 0 4) "http") }}
        {{ $currenturl = printf "%s://%s" $u.Scheme (replace (printf "%s%s%s" $u.Host $u.Path $currenturl) "//" "/")}}
      {{ end }}

      <li><a href="{{ $currenturl |safeURL }}" class="icon {{ .icon }}  {{ if eq .url $url }}active{{ end }} ">{{ .name }}</a></li>
    {{ end }}
  </ul>
	</nav>
